.react-datepicker-wrapper .react-datepicker__input-container .only-hour {
	width: 110px;
}

.rounded-img {
	width: 300px;
	height: 300px;
	background-size: cover;
	/* center the image vertically and horizontally */
	background-position: top center;

	/* round the edges to a circle with border radius 1/2 container size */
	border-radius: 50%;
}

/*Configurações para impressão A4  */

.page {
	width: 21cm;
	min-height: 29.7cm;
	padding: 1cm;
	margin: 1cm auto;
	border: 1px #d3d3d3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	font-size: 12px;
}

.font-small {
	font-size: 10;
}

@page {
	size: A4;
	margin: 0;
}
@media print {
	.page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
	img {
		max-width: 100%;
	}
	.page-break {
		page-break-before: always;
	}
}
